<div class="players">
  <div class="players-name">
      <div class="default-player {{ playerOneTurn ? 'active' : '' }} z-depth-1">
          <span class="player-value">{{player1Name}}</span>          
      </div>
      <div class="default-player {{ playerOneTurn == false ? 'active' : '' }} z-depth-1">
          <span class="player-value">{{player2Name}}</span>          
      </div>
  </div>
  <div class="players-phase">
    {% if (winningLine|length > 0) %}
      <span class="phase-value victory">{{ playerOneTurn == true ? player1Name : player2Name }} Wins !!!!!!!</span>
      <br/>
      <br/>
      <a class="new-game" href="{{ path('game_new') }}">Start a new game</a>
    {% elseif (pieceSelected > 0) %}
      <span class="phase-value">Place your piece on the board</span>
    {% else %}
      <span class="phase-value">Choose the next piece for your opponent</span>
    {% endif %}
  </div>
</div>